<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AreaServlet</servlet-name>
        <servlet-class>controller.AreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SensorServlet</servlet-name>
        <servlet-class>controller.SensorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SensorTestServlet</servlet-name>
        <servlet-class>controller.SensorTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BinStatusServlet</servlet-name>
        <servlet-class>controller.BinStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaServlet</servlet-name>
        <url-pattern>/AreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SensorServlet</servlet-name>
        <url-pattern>/SensorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SensorTestServlet</servlet-name>
        <url-pattern>/SensorTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BinStatusServlet</servlet-name>
        <url-pattern>/BinStatusServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
